<div class="container mb-3" style="width: 70%; height:85vh; margin: 0 auto; display: block;">
  <section id="headline">
    <div class="contact-headline container bg-transparent">
      <div class="row">
        <div class="col-sm-12">
          <div class="contact-headline">
            <h1 class="text-dark text-center text-capitalize font-weight-bold" style="font-size: 2rem;">Meet The Developer</h1>
          </div>
        </div>
      </div>
      <br>
    </div>
  </section>

  <div class="card-deck">
    <div class="col-12">
      <div class="card border-0 bg-transparent" style="max-width: 30rem; margin: 0 auto;">
        <img src="https://avatars0.githubusercontent.com/u/46818235?s=400&v=4"
          class="card-img-top rounded-circle text-center headshot" alt="Rubi Kuo">
        <div class="card-body">
          <h5 class="card-title text-center">Ju-I Kuo (Rubi)</h5>
          <p class="card-text text-center">I changed my life path to become a front-end developer in 2019. I enjoy every
            step I take in this journey. </p>
          <!--<a href="https://github.com/rubikuo" class="btn btn-outline-info">GitHub</a>
                    <a href="https://www.linkedin.com/in/ju-i-kuo-88688584/" class="btn btn-outline-info">LinkedIn</a>-->
          <div class="text-center">
            <a href="https://github.com/rubikuo" target="_blank"><i class="fab fa-github fa-2x mr-3"></i></a>
            <a href="https://www.linkedin.com/in/ju-i-kuo-88688584/" target="_blank"><i
                class="fab fa-linkedin fa-2x mr-3"></i></a>
            <a href="mailto:rubitiara@gmail.com"><i class="fas fa-envelope fa-2x"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>